body{
    text-align: center;
}

a { 
    font-family: 'Merriweather', serif;
    text-decoration: none;
    padding: 21px;
    background: #ab8b6f;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    color: black;
  
}

li{
    display: inline-block;
    
       
}

nav {
    text-align: center;
    margin-top: 30px;
}

[class^="icon-"], [class*="icon-"] {
    font-size: 20px;
}
    



 btn {
    font-size: 15px;
}


div {
    display: inline;
}


}

.input-text {
    background: yellow;
}

input {
    width: 881px;
  
}

img{
    border-radius: 10px;
    width: 300px;
}

section{
    display: inline-block;
    width: 1393px;

}
figure{
    display: inline-block;
    margin-left: -18px    
}

header{
    margin-bottom: 23px;
}
