body{
    text-align: center;
    margin-top: -19px;
}

a { 
    background: #969450;
    border-radius: 10px;
    color: white;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    padding: 21px;
    margin-left: 10px;
    margin-right: 10px; 
}

li{
    display: inline-block;    
}

nav {
    text-align: center;
    margin-top: 30px;
}

[class^="icon-"], [class*="icon-"] {
    font-size: 21px;
}


div {
    display: inline-block;
    margin: 17px;
}

input{
    text-indent: 0px;
    width: 881px;
    padding: 11px;
    /*border-radius: -800px;*/
}


img{
    border-radius: 10px;
    width: 300px;
}

section{
    display: inline-block;
    width: 1393px;

}
figure{
    display: inline-block;
    margin-left: -18px    
}

header{
    background: white;
    margin bottom: 23px;
    display: block;
    height:177px ;
    width: 100%; 
}

p{
    display: inline;
}
